body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color:#2E3E5C;
    background-color: #AFBFDB;
   
  }
  

  
  .header {
    padding: 80px;
    text-align: center;
    background-color:  #AFBFDB;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:  #2E3E5C ;
  }
  
  
.header h1 {
    font-size: 40px;
  }
  
  
  .navbar {
    overflow: hidden;
    background-color: #7198E1;
    border-top: 5px solid #8995AB;
    border-bottom: 5px solid #8995AB;
  }
  
  
  .navbar a {
    float: left;
    display: block;
    color:#49505C;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
   
  }
  
  
  
  .navbar a:hover {
    background-color: #49505C;
    color: #8995AB;
  }
  
  
  .row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
  }
  
  
  
  .main {   
    -ms-flex: 70%; 
    flex: 70%;
    background-color:#AFBFDB;
    color: #2E3E5C;
    padding: 20px; 
    text-align: center;
  }

  
  
  .main h1 {
    text-align: center;
    font-size: 40px;
  }
  
  .main h2 {
  text-align: center;
  
  }
  
  p {
    font-weight: bold;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    text-align: center;
  }
  
  .main a:-webkit-any-link {
    color: #49505C;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    text-align: center;
  }
  .png {
    text-align: center;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color:#49505C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color:#49505C;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #7198E1;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #7198E1;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: #49505C;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #7198E1;
    color: #2E3E5C;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }